aiofiles
altair
annotated-types
anyio
attrs
azure-core
azure-storage-blob
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
dash
dash-core-components
dash-html-components
dash-table
fastapi
ffmpy
filelock
Flask
Flask-Cors
fonttools
fsspec
gitdb
GitPython
gradio_client
h11
httpcore
httpx
huggingface-hub
idna
importlib_metadata
importlib_resources
isodate
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
nest-asyncio
networkx
numpy
opencv-python
orjson
packaging
pandas
pillow
plotly
protobuf
psutil
py-cpuinfo
pyarrow
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pytz
PyYAML
referencing
requests
retrying
rich
rpds-py
ruff
scipy
seaborn
semantic-version
shellingham
six
smmap
sniffio
soupsieve
starlette
streamlit
sympy
tenacity
thop
toml
tomlkit
toolz
torch
torchvision
tornado
tqdm
typer
typing_extensions
tzdata
ultralytics
urllib3
uvicorn
watchdog
websockets
Werkzeug
zipp
